@import url("css/base.css");
@import url("css/navbar.css");
@import url("css/home.css");
@import url("css/game.css");
@import url("css/auth.css");
@import url("css/profile.css");
@import url("css/contact.css");
@import url("css/forum.css");
@import url("css/footer.css");
@import url("css/forum_view.css");
